/* Global/top-level styles */
* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    color: white;
}

#waybar {
    background-color: transparent;
}

.module {
  padding-left: 10px;
  padding-right: 17px;
  border-radius: 12px;
}

/* Workspace styles */
#workspaces {
  background-color: transparent;
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* Title bar styles */
#window {
  background-color: #080808;
}

/* Right-side module styles */
.modules-right .module {
  background-color: #771916;
}

