/* Global/top-level styles */
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#waybar {
    background-color: transparent;
}

.module {
  padding: 0 10px;
  border-radius: 12px;
  min-width: 25px;
}

/* Workspace styles */
#workspaces {
  background-color: transparent;
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* Title bar styles */
#window {
  background-color: #080808;
}

/* Right-side module styles */
.modules-right .module {
  background-color: #771916;
}

